{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/introduction/" | absURL }}" role="button">Get started</a>
      <p class="meta">Open-source GPL Licensed. <a href="https://github.com/project-wormhole">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Messaging</h2>
        <p>We believe there shouldn't be a border wall. People should be able messaging between Apps with no trouble.</p>
      </div>

      <div class="col-lg-5">
        <h2 class="h4">Security</h2>
        <p>State-of-the-art end-to-end encryption powered by <a href="https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/olm.md">Olm</a> keeps your communications secure. Wormhole's encryption is based on the <a href="https://signal.org/docs/specifications/doubleratchet/">Double Ratchet Algorithm</a> popularised by Signal and implemented by Matrix.org</a> </p>
      </div>
      
      
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Open-Source, Open-Standard</h2>
        <p>Wormhole open standard defines a set of open APIs for cross App communication. We also provide open source implementation that allows you to host your own, and of course you can always connect to our server.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Privacy</h2>
        <p>User and Your Data are our top priority. Wormhole is designed NOT able to see the user's message (messages are encrypted) and won't store private data.</p>
      </div>
      
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
